html {
    background-color: #863D3D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid #F4C1C1;
    border-right: solid #F4C1C1;
    margin-left: 0.75em;
    margin-right: 0.75em;
}
body{
    margin-bottom: auto;
}

main {
    background-color: #F4C1C1;
    width: 50em;
    height: 85em;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    width: 10em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2%;
}

nav{
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #863D3D;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5em;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    text-align: center;
    font-size: 0.85em;
    text-decoration: none;
    font-weight: bold;
    color: #F4C1C1;
    padding: 7em;
    padding-top: 0em;
}

nav ul li a:hover{
    background-color: #F4C1C1;
    color: #863D3D;
    font-weight: bold;
    padding: 0.9em;
    padding-right: 5em;
    padding-left: 5em;
    margin-left: 2em;
    margin-right: 2em;
}

